/* CSS Document */
html {
height:100%
;}

h3, h4, h5, h6, span, form, ul, li{
padding:0px;
margin:0px;
}
body {
 	height:100%;
	margin: 0px;
	padding:0px;
	background-image: url(images/bg.jpg);
}
#top-main{
margin:auto;
padding:0px;
width:100%;
height:144px;
background-image:url(images/top-bg.jpg);
background-repeat:repeat-x;
}
#top{
margin:auto;
padding:0px;
width:1000px;
height:135px;
}
#top-right{
margin:0px;
padding:0px;
width:580px;
height:135px;
float:right;
}
#top-links{
margin-top:45px;
padding:0px;
width:550px;
height:40px;
float:right;
}
#logo{
margin:0px;
padding:0px;
width:360px;
height:135px;
float:left;
}
#language-box{
margin-top:15px;
padding:0px;
width:85px;
height:25px;
float:right;
}

#eng-box{
margin:0px;
padding:0px;
width:40px;
height:16px;
float:left;
background-image:url(images/gap.gif);
background-repeat:no-repeat;
background-position:right;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#E6D484;
text-align:center;
}
#jp-box{
margin:0px;
padding:0px;
width:40px;
height:16px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#E6D484;
text-align:center;
}

#fash-mainbox{
margin-top:40px;
padding:0px;
width:100%;
height:415px;
}
#fash-box{
margin:auto;
padding:0px;
width:992px;
height:401px;
background-image: url(images/flash-bg.gif);
background-repeat:no-repeat;
}
#fash{
margin:auto;
padding-top:15px;
width:960px;
height:369px;
}

#mid-box{
margin:0px;
padding:0px;
width:100%;
height:260px;
}
#latest-box{
margin:auto;
padding:0px;
width:992px;
height:70px;
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#E6D484;
text-align:left;
line-height:70px;
border-bottom:#7A5429 1px  dotted;
}
#home-images-box{
margin:auto;
padding:0px;
width:992px;
height:175px;
}

.image-box0{
margin-top:22px;
padding:0px;
width:210px;
height:130px;
float:left;
border:#270E02 5px solid;
}
.image-box1{
margin-top:22px;
margin-left:38px;
padding:0px;
width:210px;
height:130px;
float:left;
border:#270E02 5px solid;
}
.image-box2{
margin-top:22px;
margin-left:38px;
padding:0px;
width:210px;
height:130px;
float:left;
border:#270E02 5px solid;
}
.image-box3{
margin-top:22px;
padding:0px;
width:210px;
height:130px;
float:right;
border:#270E02 5px solid;
}
.image{
margin:auto;
padding:0px;
width:210px;
height:130px;
}
#welcome-ddc-box{
margin:auto;
padding:0px;
width:992px;
height:auto;
}
#welcome-heaading{
margin:0px;
padding:0px;
width:735px;
height:50px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#E6D484;
line-height:50px;
border-bottom:#7A5429 1px  dotted;
}
#about-box{
margin-bottom:40px;
padding:0px;
width:735px;
height:auto;
float:left;
}

#welcome-text{
margin-top:20px;
padding:0px;
width:700px;
height:auto;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#C4BCB5;
text-align:left;
line-height:30px;
}

#get-touch{
margin:0px;
padding:0px;
width:220px;
height:auto;
float:right;
}
#touch-heaading{
margin:0px;
padding:0px;
width:100%;
height:50px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#E6D484;
line-height:50px;
border-bottom:#7A5429 1px  dotted;
}

#touch-text{
margin-top:20px;
padding:0px;
width:100%;
height:auto;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#C4BCB5;
line-height:23px;
}

#bottom-box{
margin:0px;
padding:0px;
width:100%;
height:112px;
border-top:#593102 3px  solid;
clear:both;
}
#bottom{
margin:auto;
padding:0px;
width:992px;
height:170px;

}
#bottom-left{
margin:0px;
padding:0px;
width:735px;
height:170px;
float:left;
}
#bottom-right{
margin:0px;
padding:0px;
width:220px;
height:170px;
float:right;
}

#bottom-links{
margin:auto;
paddingp:0px;
height:auto;
width:auto;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
font-size:14px;
line-height:70px;
color:#C4BCB5;
text-decoration: none;
}
#bottom-links a {
font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
line-height:50px;
	color: #E6D484;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
}
#bottom-links a:hover {
	color: #C4BCB5;
	text-decoration: underline;
}
#copyright{
margin:auto;
padding:0px;
height:30px;
width:530px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:20px;
color:#E6D484;
text-align:center;
}
#webtimeinc{
margin:auto;
padding:0px;
height:40px;
width:530px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:40px;
color:#C4BCB5;
text-align:center;
}

.link{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#E6D484;
text-decoration:none;
}
a.link:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color: #C4BCB5;
text-decoration:none;
}
#follow-heaading{
margin:0px;
padding:0px;
width:100%;
height:50px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#E6D484;
line-height:50px;
border-bottom:#7A5429 1px  dotted;
}
#follow-box{
margin-top:17px;
padding:0px;
width:100%;
height:35px;
float:left;
}
.follow{
margin-right:15px;
padding:0px;
width:28px;
height:30px;
float:left;
}
#tooltip {
    position: absolute;
    border: 1px solid #C48D19;
    background: #C48D19;
    padding: 2px 5px;
    color: #ffffff;
    display: none;
    font-family: arial;
    font-size: 11px;
    display: none;
    text-align: center;
    z-index: 999999;
    -moz-opacity: .90;
    filter: alpha(opacity=90);
}
.tlink{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#948B64;
text-decoration:none;
}
a.tlink:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color: #D7C885;
text-decoration:none;
}
#tlink-active{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color: #D7C885;
text-decoration:none;
}
/* 47dcc home page CSS Document end  */

#left-link-box{
margin-top:20px;
margin-bottom:50px;
padding:0px;
width:220px;
height:auto;
float:left;
}

#products-box{
margin-top:20px;
margin-bottom:50px;
padding:0px;
width:700px;
height:auto;
float:right;
}

#product-heading-box{
margin:auto;
padding:0px;
width:992px;
height:60px;
border-bottom:#7A5429 1px  dotted;

}
#heading{
margin:0px;
padding:0px;
width:660px;
height:60px;
float:left;
}

#product-heading{
margin:0px;
padding:0px;
width:100px;
height:60px;
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#E6D484;
text-align:left;
line-height:60px;
float:left;
}
#product-subheading{
margin:0px;
padding:0px;
width:400px;
height:60px;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#D1D1D1;
text-align:left;
line-height:60px;
float:left;
}
#breadcum{
margin:0px;
padding:0px;
width:660px;
height:60px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#D1D1D1;
text-align:left;
line-height:60px;
float:left;
}

#paging-box {
margin-top:15px;
padding:0px;
width:300px;
float:right;
height:19px;
text-align:right;
}
.port-links a{
	display:block;
	float:left;
	width:auto;
	padding:2px 10px 2px 10px;
	height:19px;
	margin-right:3px;
	text-decoration:none;
	font-family:Tahoma, Arial;
	font-size:11px;
	color:#AEADAD;
	text-align:center;
	line-height:19px;
	border:1px solid #311600;
	background-color:#251100;
}
.port-links a:hover{
	text-align:center;
	color:#CD9726;
	padding:0px;
	border:1px solid #CD9726;
	padding:2px 10px 2px 10px;
}
#port-links-active{
	width:auto;
	height:19px;
	display:block;
	float:left;
	color:#ffffff;
	border:1px solid #371C05;
	background-color:#CD9726;
	padding:2px 10px 2px 10px;
}
#collection-heaading{
margin:0px;
padding:0px;
width:100%;
height:50px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#E6D484;
line-height:50px;
border-bottom:#7A5429 1px  dotted;
}

#left-links{
margin-top:10px;
padding:0px;
width:220px;
height:auto;
float:left;
}

.l1{
	width:220px;
	height:30px;
	float:left;
	margin-top:5px;
	padding:0px;

}
.l1 a{
	display:block;
	width:210px;
	height:30px;
	margin:0px;
	padding-left:10px;
	text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#C98F13;
	text-align:left;
	line-height:30px;
		background-color:#311600;
	}
.l1 a:hover{
	color:#C98F13;
	text-align:left;
		background-color:#270E02;
}
#l1-active{
	width:210px;
	height:30px;
	padding-left:10px;
	display:block;
	color:#270E02;
	text-align:left;
		background-color:#C48D19;
}
.sublink{
	width:220px;
	height:30px;
	float:left;
	margin-top:2px;
	padding:0px;

}
.sublink a{
	display:block;
	width:210px;
	height:30px;
	margin:0px;
	padding-left:10px;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#E6D484;
	text-align:left;
	line-height:30px;
	border-bottom:#7A5429 1px  dotted;
	background-image:url(images/arrow.png);
	background-position:left;
	background-repeat:no-repeat;
	}
.sublink a:hover{
	color:#F7F6F5;
	text-align:left;
	border-bottom:#7A5429 1px  dotted;
		background-image:url(images/arrow1.png);
	background-position:left;
	background-repeat:no-repeat;
}
#sublink-active{
	width:210px;
	height:30px;
	padding-left:10px;
	display:block;
	color:#F4F5F4;
	text-align:left;
	border-bottom:#7A5429 1px  dotted;
		background-image:url(images/arrow1.png);
	background-position:left;
	background-repeat:no-repeat;
}
#products-detail-box{
margin-top:20px;
margin-bottom:50px;
padding:0px;
width:720px;
height:auto;
float:right;
}
#detail-left-box{
margin:0px;
padding:0px;
width:350px;
height:auto;
float:left;
}

#big-image-box{
margin-top:20px;
padding:0px;
width:330px;
height:290px;
float:left;
border:#270E02 5px solid;
}

#more-heading{
margin-top:20px;
padding-left:10px;
width:130px;
height:30px;
float:left;
background-color:#C48D19;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#F4F5F4;
text-align:left;
line-height:30px;
}
#more-images-box{
margin-top:10px;
padding:0px;
width:350px;
height:auto;
float:left;
}

.small-image-box{
margin-right:8px;
margin-bottom:8px;
padding:0px;
width:73px;
height:73px;
float:left;
border:#270E02 3px solid;
}

#detail-heading{
margin-top:10px;
padding-left:10px;
width:130px;
height:30px;
float:left;
background-color:#C48D19;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#F4F5F4;
text-align:left;
line-height:30px;
}
#detail-text{
margin-top:10px;
padding:0px;
width:340px;
height:auto;
float:left;
font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#C4BCB5;
	text-align:left;
	line-height:20px;
}

#detail-right-box{
margin:0px;
padding:0px;
width:330px;
height:auto;
float:right;
}

#product-name-box{
margin:0px;
padding:0px;
width:330px;
height:50px;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#E6D484;
text-align:left;
line-height:50px;
border-bottom:#7A5429 1px  dotted;
float:left;
}

.product-heading{
margin-top:10px;
padding:0px;
width:330px;
height:30px;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#E6D484;
text-align:left;
line-height:30px;
float:left;

}
.info-out-box{
margin-top:5px;
padding:0px;
width:328px;
height:auto;
border-bottom:#270E02 1px solid;
border-left:#270E02 1px solid;
border-right:#270E02 1px solid;
float:left;
}
.info-box{
margin:0px;
padding:0px;
width:328px;
height:auto;
float:left;
border-top:#270E02 1px solid;
}
.info-left-box{
margin:0px;
padding-left:5px;
width:135px;
height:28px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#C4BCB5;
text-align:left;
line-height:28px;
border-right:#270E02 1px solid;
}
.info-right-box{
margin:0px;
padding:0px;
width:180px;
height:auto;
float:right;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#C4BCB5;
text-align:left;
line-height:28px;
}

.brelink{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#E6D484;
text-decoration:none;
}
a.brelink:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color: #D1D1D1;
text-decoration:none;
}
#brelink-active{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color: #E6D484;
text-decoration:none;
}

#welcome-heaading-inn{
margin:0px;
padding:0px;
width:735px;
height:60px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#E6D484;
line-height:60px;
border-bottom:#7A5429 1px  dotted;
}

#touch-heaading-inn{
margin:0px;
padding:0px;
width:100%;
height:60px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#E6D484;
line-height:60px;
border-bottom:#7A5429 1px  dotted;
}


#navi-panel{ width:550px; height:35px; font-family:Arial; Helvetica, sans-serif; font-size:14px; text-align:left;}
#navi-panel ul{margin:0px; padding:0px; list-style:none;}
#navi-panel li{ float:left; height:35px; padding:0px; line-height:35px;}
#navi-panel li a{padding:0px 20px 0px 19px;margin:0px; color:#F1F1F1;text-decoration:none; display:block; }
#navi-panel li a:hover{color:#323232;}
#navi-panel a.currentnavi{ background:#C48D19; color:#fff !important;}
#navi-panel li ul{position:absolute;background:#fff;left:-999em;z-index:100;}
#navi-panel li ul li{display:block;border-bottom:1px dotted #D6A53F; clear:both; width:170px;background:none;height:30px !important;line-height:30px !important;}
#navi-panel li ul li a{color:#000;text-transform:none;display:block;}
#navi-panel li ul li a:hover{background:#311600; color:#fff; }
#navi-panel li ul li a.selected{background:#f2f2f2; color:#fff;}
#navi-panel li ul li a.selected:hover{background:#f2f2f2;color:#fff; }
#navi-panel li a:hover ul,
#navi-panel li li a:hover ul,
#navi-panel li li a:hover ul,
#navi-panel li li:hover ul,
#navi-panel li li:hover ul,
#navi-panel li li:hover ul,    
#navi-panel li.sfhover ul,
#navi-panel li.sfhover,
#navi-panel li.sfhover a,
#navi-panel li li.sfhover ul,
#navi-panel li li.sfhover ul{left: auto; background:#C48D19; color:#fff !important;}


/* -------------------------------------------------------------------------------------------- */


/* image scroller */

/*div#imagescrollermain {margin:0px;position:relative;width:650px;}

div#homepage div#imagescrollermain {border:none;background-color:transparent;margin:0}

div#imagescrollermain div#imagescroller {float:left;height:110px;overflow:hidden;position:relative;width:90%;}

div#imagescrollermain div#imagescroller {margin-top:10px;}
div#homepage div#imagescrollermain div#imagescroller {margin-top:0}
div#homepage div#imagescrollermain div#imagescroller {height:110px;position:absolute;width:100%;left:0;top:0;z-index:1}

div#imagescrollermain img.smallthumbsimgscr {position:absolute}

div#imagescrollermain #imagescroller .scrollingpart {float:left;}

div#imagescrollermain #imagescroller .scrollingpart img {float:left;margin-top:11px;margin-right:px;border:1px solid #d6d7d3}
div#homepage div#imagescrollermain #imagescroller .scrollingpart img  {border:none}

div#imagescrollermain div.imagescrollercontainer {display:block;float:left;height:110px;position:relative;width:100%}
div#imagescrollermain #loadingcoverdiv {background-color:#edede9;height:110px;left:0;position:absolute;top:0;width:100%;z-index:10}
div#homepage div#imagescrollermain #loadingcoverdiv {background-color:#fff;}

div#imagescrollermain div.imagescrollersubcontainer {height:110px;left:0;position:absolute;top:0;width:100%; background-image:url(images/g-center1.jpg); background-repeat:no-repeat;z-index:5}

div#imagescrollermain .scrollerbuttonleft a, div#imagescrollermain .scrollerbuttonright a {background-repeat: no-repeat;display:block;float:left;height:110px;width:29px;}

div#homepage div#imagescrollermain .scrollerbuttonleft a, 
div#homepage div#imagescrollermain .scrollerbuttonright a {
	background-image:none}
/*
div#homepage div#imagescrollermain .scrollerbuttonleft a {background-image: url(../images/homescrollerleft.png);background-position:left top;}
div#homepage div#imagescrollermain .scrollerbuttonright a {background-image: url(../images/homescrollerright.png);background-position:right top}
*/
/*div#imagescrollermain .scrollerbuttonleft, div#imagescrollermain .scrollerbuttonright {float:left;height:110px;width:5%;}

div#homepage div#imagescrollermain .scrollerbuttonright {text-align:right}


div#homepage div#imagescrollermain .scrollerbuttonleft, div#homepage div#imagescrollermain .scrollerbuttonright {float:none;height:110px;width:20%;position:absolute;top:0;z-index:5}


div#homepage div#imagescrollermain .scrollerbuttonleft  {left:0;}
div#homepage div#imagescrollermain .scrollerbuttonright  {left:80%;}


div#imagescrollermain .scrollerbuttonleft a {background-position: left 0;}
div#imagescrollermain .scrollerbuttonright a {background-position: left -110px;}
*/

/* image scroller */

div#imagescrollermain {margin:0px;position:relative;width:675px;}

div#homepage div#imagescrollermain {border:none;background-color:transparent;margin:0}

div#imagescrollermain div#imagescroller {float:left;height:90px;overflow:hidden;position:relative;width:90%;}

div#imagescrollermain div#imagescroller {margin-top:1px;}
div#homepage div#imagescrollermain div#imagescroller {margin-top:0}
div#homepage div#imagescrollermain div#imagescroller {height:90px;position:absolute;width:100%;left:0;top:0;z-index:1}

div#imagescrollermain img.smallthumbsimgscr {position:absolute}

div#imagescrollermain #imagescroller .scrollingpart {float:left;}

div#imagescrollermain #imagescroller .scrollingpart img {float:left;margin-top:11px;margin-right:px;border:1px solid #d6d7d3}
div#homepage div#imagescrollermain #imagescroller .scrollingpart img  {border:none}

div#imagescrollermain div.imagescrollercontainer {display:block;float:left;height:90px;position:relative;width:100%}
div#imagescrollermain #loadingcoverdiv {background-color:#edede9;height:110px;left:0;position:absolute;top:0;width:100%;z-index:10}
div#homepage div#imagescrollermain #loadingcoverdiv {background-color:#fff;}

div#imagescrollermain div.imagescrollersubcontainer {height:110px;left:0;position:absolute;top:0;width:100%; background-image:url(images/g-center1.jpg); background-repeat:no-repeat;z-index:5}

div#imagescrollermain .scrollerbuttonleft a, div#imagescrollermain .scrollerbuttonright a {background-repeat: no-repeat;display:block;float:left;height:90px;width:19px;}

div#homepage div#imagescrollermain .scrollerbuttonleft a,
div#homepage div#imagescrollermain .scrollerbuttonright a {
 background-image:none}
/*
div#homepage div#imagescrollermain .scrollerbuttonleft a {background-image: url(../images/homescrollerleft.png);background-position:left top;}
div#homepage div#imagescrollermain .scrollerbuttonright a {background-image: url(../images/homescrollerright.png);background-position:right top}
*/
div#imagescrollermain .scrollerbuttonleft, div#imagescrollermain .scrollerbuttonright {float:left;height:90px;width:20px;}

div#homepage div#imagescrollermain .scrollerbuttonright {text-align:right}


div#homepage div#imagescrollermain .scrollerbuttonleft, div#homepage div#imagescrollermain .scrollerbuttonright {float:none;height:90px;width:20%;position:absolute;top:0;z-index:5}


div#homepage div#imagescrollermain .scrollerbuttonleft  {left:0;}
div#homepage div#imagescrollermain .scrollerbuttonright  {left:80%;}


div#imagescrollermain .scrollerbuttonleft a {background-position: left 0;}
div#imagescrollermain .scrollerbuttonright a {background-position: left -110px;}





/* -===== Clear Floats =====- */
.group:after, div.smartable dl:after, div.modeldata dl:after, ul.detailed-btn-list li:after, ul.in-lst-btn-list li:after, #homepage div#dcontent-textpart:after, ul#carlist-classic li:after {content:".";display:block;height:0;clear:both;visibility:hidden}
