/* CSS Document */
html {
height:100%
;}

h3, h4, h5, h6, span, form, ul, li{
padding:0px;
margin:0px;
}
body {
 	height:100%;
	margin: 0px;
	padding:0px;
}
.text{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color: #ffffff;
font-style:normal;
}
.text1{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color: #4A4A4A;
font-style:normal;
}


h1{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color: #BC460A;
	font-style:normal;
	line-height:18px;
	text-align:left;
}
h2{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color: #EEDD8F;
	font-style:normal;
	line-height:18px;
	text-align:left;
}
h3{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #ffffff;
	font-style:normal;
}
.link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #ffffff;
	text-decoration:none;
}
a.link:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #ffffff;
	text-decoration:underline;
}
.blink{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #3066BE;
	text-decoration:none;
}
a.blink:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #3066BE;
	text-decoration:underline;
}

#profile-links{
margin:0px;
padding:0px;
height:30px;
width:600px;
float:left;
}
.l12{
	width:120px;
	height:30px;
	float:left;
	margin:0px;
}
.l12 a{
	display:block;
	width:120px;
	height:30px;
	margin:0px;
	background-color:#3B90CB;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ffffff;
	text-align:center;
	line-height:30px;
	}
.l12 a:hover{
	color:#ffffff;
	background-color:#2F81BB;
	text-decoration:underline;
	text-align:center;
}
#l12-active{
	width:120px;
	height:30px;
	display:block;
	color:#ffffff;
	background-color:#2F81BB;
		text-decoration:underline;
	text-align:center;
}
.l13{
	width:130px;
	height:30px;
	float:left;
	margin-left:5px;
}
.l13 a{
	display:block;
	width:130px;
	height:30px;
	margin:0px;
	background-color:#3B90CB;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ffffff;
	text-align:center;
	line-height:30px;
	}
.l13 a:hover{
	color:#ffffff;
	background-color:#2F81BB;
	text-decoration:underline;
	text-align:center;
}
#l13-active{
	width:130px;
	height:30px;
	display:block;
	color:#ffffff;
	background-color:#2F81BB;
		text-decoration:underline;
	text-align:center;
}
.l14{
	width:130px;
	height:30px;
	float:left;
	margin-left:5px;
}
.l14 a{
	display:block;
	width:130px;
	height:30px;
	margin:0px;
	background-color:#3B90CB;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ffffff;
	text-align:center;
	line-height:30px;
	}
.l14 a:hover{
	color:#ffffff;
	background-color:#2F81BB;
	text-decoration:underline;
	text-align:center;
}
#l14-active{
	width:130px;
	height:30px;
	display:block;
	color:#ffffff;
	background-color:#2F81BB;
		text-decoration:underline;
	text-align:center;
}
.l15{
	width:150px;
	height:30px;
	float:left;
	margin-left:5px;
}
.l15 a{
	display:block;
	width:150px;
	height:30px;
	margin:0px;
	background-color:#3B90CB;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ffffff;
	text-align:center;
	line-height:30px;
	}
.l15 a:hover{
	color:#ffffff;
	background-color:#2F81BB;
	text-decoration:underline;
	text-align:center;
}
#l15-active{
	width:150px;
	height:30px;
	display:block;
	color:#ffffff;
	background-color:#2F81BB;
		text-decoration:underline;
	text-align:center;
}
.blink2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #D8A437;
	text-decoration:none;
}
a.blink2:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #0089D8;
	text-decoration:none;
}

#navi-panel{ width:950px; height:46px;; font-size:13px; text-align:left;}
#navi-panel ul{margin:0px; padding:0px; list-style:none;}
#navi-panel li{ float:left; height:46px; padding-right:2px; background:url(images/gap.gif) no-repeat center right; line-height:46px;}
#navi-panel li a{padding:0px 10px 0px 10px;margin:0px; color:#F1F1F1;text-decoration:none; display:block; }
#navi-panel li a:hover{color:#323232;}
#navi-panel a.currentnavi{ background:#B15100; color:#fff !important;}
#navi-panel li ul{position:absolute;background:#fff;left:-999em;z-index:100;}
#navi-panel li ul li{display:block;border-bottom:1px dotted #FB9F40; clear:both; width:160px;background:none;height:30px !important;line-height:30px !important;}
#navi-panel li ul li a{color:#000;text-transform:none;display:block;}
#navi-panel li ul li a:hover{background:#C75C02; color:#fff; }
#navi-panel li ul li a.selected{background:#2797E1; color:#fff;}
#navi-panel li ul li a.selected:hover{background:#f2f2f2;color:#fff; }
#navi-panel li a:hover ul,
#navi-panel li li a:hover ul,
#navi-panel li li a:hover ul,
#navi-panel li li:hover ul,
#navi-panel li li:hover ul,
#navi-panel li li:hover ul,    
#navi-panel li.sfhover ul,
#navi-panel li.sfhover,
#navi-panel li.sfhover a,
#navi-panel li li.sfhover ul,
#navi-panel li li.sfhover ul{left: auto; background:#B15100; color:#fff !important;}


/* -------------------------------------------------------------------------------------------- */
.browsebg{
background-image: url(images/browse-bg.gif);
background-position:left;
background-repeat:no-repeat;
}
.logbg{
background-image: url(images/logbg.gif);
background-position:left;
background-repeat:no-repeat;
}
.logbg1{
background-image: url(images/logbg1.gif);
background-position:left;
background-repeat:no-repeat;
}
.logbg{
background-image: url(images/logbg.gif);
background-position:left;
background-repeat:no-repeat;
}
.inp{ 
	
font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
	color: #6B6B6B;
    border: 1px solid #CBC9C9;
}
.inp2{ 
   font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
	color: #6B6B6B;
    border: 1px solid #CBC9C9;
	height:20px;
	width:245px;
}

.inp3{ 
   font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
	color: #6B6B6B;
    border: 1px solid #CBC9C9;
	height:75px;
	width:245px;
}

.inp4{ 
	
font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
	color: #6B6B6B;
    border: 1px solid #CBC9C9;
		height:18px;
}